/* Background dots */
.bg-dots{
    position: absolute;
    width: 100%;
    z-index: -10;
}

.bg-top-image{
    display: none;
}

.navigate-down{
    display: none;
}
/* Main and sub headings */
.heading-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    padding-top: 190px;
    height: max-content;
}
.main-heading-container{
    order: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap : 30px;
}

.main-heading{
    font-size: 96px;
}

.fine-main-heading-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translateY(15px);
}

.fine-main-heading{
    order:1;
    color:#D63031;
}

.fine-main-heading::before{
    content: "fine";
}

.highlighter{
    order:2;
    height: 30px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 30px;
    transform: translateY(-40px);
    z-index: -8;
}

.sub-heading{
    font-size : 64px
}

.desktop{
    order: 2;
}

.mobile-tab{
    order: 3;
    word-wrap:break-word ;
    text-align: center;
    display: none;
    max-width: 20ch;
    line-height: 40px;
}

/* Heading media query - ipad*/
@media screen and (max-width: 768px) {
    .heading-container{
        padding-top: 90px;
    }

    .main-heading-container{
        flex-wrap: wrap;
        gap : 10px;
    }

    .main-heading{
        font-size: 40px;
    }

    .sub-heading{
        font-size : 30px
    }

    .fine-main-heading-container{
        transform: translateY(10px);
    }

    .highlighter{
        height: 20px;
        width: 100%;
        border-radius: 30px;
        transform: translateY(-20px);
    }

    .desktop{
        display: none;
    }

    .mobile-tab{
        display: block;
    }
}

/* Heading media query - Mobile*/
@media screen and (max-width: 412px) {

    .bg-dots{
        position: absolute;
        width: 150%;
        height: 300px;
        z-index: -10;
        right: 0;
        object-fit: cover;
    }

    .bg-top-image{
        display: block;
        position: absolute;
        width: 150%;
        height: 500px;
        z-index: -20;
        right: 0;
        object-fit: cover;
        filter: opacity(30%);
    }

    .navigate-down{
        display: block;
        position: absolute;
        border-radius: 45%;
        background-color: white;
        top:390px;
        left: 40%;
    }

    .heading-container{
        padding-top: 30px;
    }

    .main-heading-container{
        flex-wrap: wrap;
        gap : 10px;
    }
    .main-heading-container > h1{
        font-size: 64px;
        font-weight: 900;
        color: #2D3436;
    }

    .text-shadow{
        text-shadow: 0px 4px 0px #FFFFFF;
    }

    .main-heading-container > .font-size-smaller{
        font-size: 48px;
        font-weight: 900;
    }
    .fine-main-heading::before{
        content: "Cool";
        font-size: 48px;
        font-weight: 900;
    }

    .sub-heading{
        font-size : 20px;
        padding-top:20px;
    }

    .desktop{
        display: none;
    }

    .mobile-tab{
        display: block;
        font-size:24px;
        font-weight: 700;
    }
}

/* Grid Picture section */
.pictures{
    display: grid;
    grid-template-columns: 220px 3fr;
    min-height: 100vh;
    max-width: 80vw;
    min-width: 768px;
    grid-gap:20px;
    margin: 100px auto;
    overflow: hidden;
}

.section1{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.section1 > p{
    height: 80px;
    line-height: 25px;
    font-size: 15px;
    align-self: start;
    max-width: 25ch;
    color: #2D3436;
}

.section1-image{
    background-image: url(../images/sphere.png);
    background-repeat: no-repeat;
    background-size:cover;
    height:65%;
    position: relative;
}

.section1-image::before{
    content:"We aimed to deliver HQ templates for Figma";
    position: absolute;
    color: #eeeded;
    max-width: 25ch;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    top:40px;
    left:20px;
}

.section1-image::after{
    content:"Used by 123 people";
    position: absolute;
    color: #eeeded;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    font-size: 10px;
    top: 90px;
    left:70px;
}

.section1 > button{
    height: 60px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #6C5CE7;
    border-radius: 30px;
}

.section2{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.section2-top{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}

.section2-top-left-image{
    background-image: url(../images/consider_it_done.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    position: relative;
}

.section2-top-left-image::after{
    content:"Consider it done!";
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    text-align:right;
    left : 20%;
    color: #FFFFFF;
    text-shadow: 2px 2px #474444;
}

.section2-top-right{
    display: flex;
    flex-direction: column;
}

.section2-top-right-text{
    height: 80px;
    line-height: 25px;
    font-size: 15px;
    max-width: 30ch;
    align-self: start;
    color: #2D3436;
}

.section2-top-right-image-container{
    flex:1;
    display: flex;
    flex-direction: row;
    gap:20px;
}

.section2-top-right-image1{
    flex:1;
    background-image: url(../images/A.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section2-top-right-image2{
    flex:1;
    background-image: url(../images/shoe.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-bottom{
    flex:1;
    display: grid;
    grid-template-columns: 1.8fr 2.7fr 1.5fr;
    grid-gap:20px;
}

.section2-bottom-image1{
    background-image: url(../images/book.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height:90%;
}
.section2-bottom-image2{
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
}

.section2-bottom-image2::after{
    content:"See my goal?";
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 30px;
    text-align:right;
    left : 20%;
    color: #FFFFFF;
    text-shadow: 2px 2px #474444;
}

.section2-bottom-image3{
    background-image: url(../images/glass\ frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 75%;
}

.height60{
    max-height: 100%;
}

.radius30px{
    border-radius: 30px;
}

/* Media query for the grid prctures section */
@media screen and (max-width: 412px) {

    .pictures{
        display: grid;
        grid-template-columns: 220px;
        min-height: 100vh;
        max-width: 80vw;
        min-width: 300px;
        grid-gap:20px;
        margin: 100px auto;
        overflow: hidden;
        justify-content: center;
    }

    .section2{
        display: none;
    }
}