.design-kit-container{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    height: 60vh;
    width: 80vw;
    gap:30px;
}

.designkit-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:30px;
}

.design-kit-container > p{
    word-wrap:break-word;
    max-width: 70ch;
    min-width: 30ch;
    font-size: 24px;
    line-height: 36px;
}

.height50{
    height: 50px;
    width: auto;
}

.flexible-grid-elem{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.learn-more-design-kit-btn{
    font-size:16px;
    background-color: white ;
    color:#6C5CE7;
    font-weight: bold;
    border: 1px solid #ADADAD;
    padding:10px 20px;
    border-radius: 30px;
}

.flexible-grid-elem > p{
    flex:1;
    line-height: 25px;
    max-width: 25ch;
    min-width: 20ch;
}

@media screen and (max-width: 412px) {
    .design-kit-container{
        margin: 100px auto;
        height: max-content;
        width: 80vw;
        gap:30px;
    }

    .designkit-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:30px;
    }

    .design-kit-container > p{
        font-size: 15px;
        line-height: 20px;
    }

    .design-kit-container > h1{
        font-size: 24px;
        line-height: 30px;
    }
    
    .flexible-grid-elem > p{
        flex:1;
        line-height: 20px;
        font-size: 12px;
    }
}

