footer{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap:50px;
    padding-top: 100px;
}

.follow-us{
    display: flex;
    align-content: space-between;
    gap:20px;
}

.follow-us-social-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}

.follow-us-social-container > ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
    gap:30px;
}

.follow-us-mail-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}

.follow-us-mail-container > h1{
    color: #6C5CE7;
}

.greycolor{
    color: #ADADAD;
    letter-spacing: 3px;
}

.info-keep-in-touch-parent-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:20px;
}

.info-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap:20px;
}

.info-heading-container{
    display: flex;
    align-content: flex-start;
    padding-top: 0px;
}

.links-container{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}

.links-container > a{
    text-decoration: none;
    color: #2D3436;
    font-size: 14px;
}

.links-container > a:hover{
    text-decoration: underline;
}

.keep-in-touch-container{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.get-user-data-container{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.email-and-text{
    position: relative;
    display: flex;
    gap:20px;
}

.email-and-text > *{
    position: relative;
    flex:1;
    background-color: rgb(194 194 194 / 28%);
    height: 30px;
    padding : 5px 20px;
    border-radius: 15px;
}

.name-icon{
    background-image: url(../images/icons/person.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30px;
}

.email-icon{
    background-image: url(../images/icons/email.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-align: left;
}


.message-and-button{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.message-and-button > input{
    flex:1;
}

.message-and-button > textarea{
    flex:2;
    height: 60px;
    background-color: rgb(194 194 194 / 28%);
    padding: 16px;
    border-radius: 15px;
    text-align: start;
    vertical-align:top;
    resize: none;
    padding-left:30px;
}

.text-area-icon{
    background-image: url(../images/icons/text-area.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    background-size: 30px;
}


.message-and-button > button{
    flex:1;
    border: none;
    background-color: #6C5CE7;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 15px;
    font-size: 20px;
}

.message-and-button > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6C5CE7;
    font-weight: bold;
    size: 18px;
}

.footer-image{
    position: absolute;
    left:0;
    bottom:-170px;
    z-index: -30;
}
